@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
html,
body {
  overflow-x: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
}

.hero {
  margin-top: -90px !important;
  background: linear-gradient(to bottom right, #17181c, #202124, #2c2c2c);
  background: linear-gradient(to bottom, #17181c 0%, #202124 60%, #0f0f11 100%);
  min-height: 110vh;
  display: flex;
  align-items: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding-inline: max(1.5rem, 5vw);
  gap: 2rem;
}

.hero a {
  border: none;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-block: 4rem;
  }

  .hero > * {
    width: 100%;
  }

  .hero img {
    height: auto;
    max-width: 240px;
  }
}

.sl-theme-toggle {
  display: none !important;
}

.theme-image-wrapper {
  display: grid;
  width: 100%;
}

.theme-image-wrapper img {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: auto;
}

.light-image {
  opacity: 1;
}

.dark-image {
  opacity: 0;
}

/* When dark theme is active */
[data-theme="dark"] .light-image {
  opacity: 0;
}

[data-theme="dark"] .dark-image {
  opacity: 1;
}

:root {
  color-scheme: dark;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #131e4f;
  --sl-color-accent: #3447ff;
  --sl-color-accent-high: #b3c7ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
