---
import "../styles/index.css";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import FeatureGrid from "../components/FeatureGrid.astro";
import DemoDisplay from "../components/DemoDisplay.astro";
import DevHighlight from "../components/DevHighlight.astro";
import OurTeam from "../components/OurTeam.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frame</title>
    <link rel="icon" href="/favicon.svg" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B1FNVBZ63Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-B1FNVBZ63Z');
    </script>
  </head>
  <body>
    <Header/>
    <main>
      <Hero />
      <FeatureGrid/>
      <DemoDisplay />
      <DevHighlight />
      <OurTeam />
    </main>
    <Footer />
  </body>
</html>
