---
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro"
import Search from "@astrojs/starlight/components/Search.astro"
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro"
---

<header>
  <SiteTitle/>
  <nav>
    <Search/>
    <SocialIcons/>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 340px;
  }

  @media (max-width: 800px) {
    nav {
      display: none;
    }
}
</style>
