---
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
const isHomepage = Astro.locals.starlightRoute.id === '';

---

<SiteTitle/>
<div class="link-container" data-is-home={isHomepage}>
  {isHomepage && (
  <nav class="doc-links">
    <span><a href="/case-study/introduction">Case Study</a></span>
    <span><a href="/documentation/deployment">Documentation</a></span>
  </nav>
  )}
<nav class="social-links">
    <SocialIcons/>
</nav>
</div>


<style>
  :global(header:has([data-is-home="true"])) {
    background-color: #17181c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  :global(header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-wrapper {
    display: flex;
    width: fit-content;
  }
  a {
    text-decoration: none;
    color: var(--sl-color-accent-high)
  }

  .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .doc-links {
    display: flex;
    gap: 1rem;
  }

  .social-links {
    display: flex;
    gap: 1rem
  }

  @media (max-width: 640px) {
  .link-container {
    font-size: 10px;
  }
}
</style>
